#LOOPS AND ITERATIONS

QUE :- 1. Print the first 10 natural number using a loop?

In [ ]:
i = 1

while i<=10:
  print(i*i)
  i += 1

1
4
9
16
25
36
49
64
81
100

QUE :- 2. Write a program to find the sum of the numbers from 1 to n?

In [ ]:
n = int(input("Enter the number:"))
sum=0
i =1
while i<=n:
  sum=sum+i
  print(i)
  i= i+1
print("sum of the numbers:", sum)

Enter the number:15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
sum of the numbers: 120

QUE :- 3. Create a program to print all prime numbers between 1 and 100?

In [ ]:
i =2
while i<= 100:
  print(i)
  i = i+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

QUE :- 4. Write a program to find the factorial of a number?

In [ ]:
num= int(input("Enter a number :"))
fact =1
for i in range (1,num+1):
  fact = fact*i
print("Factorial of", num, "is", fact)

Enter a number :9
Factorial of 9 is 362880

QUE :- 5. Generate the fibonacci sequence up to n terms?

In [ ]:
first=0
second=1
print(first)
print(second)
N=int(input("Upto which terms:"))

for a in range (1,N):
  third = first+second
  print(third)
  first,second =second,third

0
1
Upto which terms:18
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584

QUE :- 6. Print the multiplication table of numbers from 1 to 10 using nested loops?

In [ ]:
for i in range(1, 10):
  for j in range(1, 11):
    print('{0}*{1} = {2}'. format(i, j, (i*j)))
    print('=======================')

1*1 = 1
=======================
1*2 = 2
=======================
1*3 = 3
=======================
1*4 = 4
=======================
1*5 = 5
=======================
1*6 = 6
=======================
1*7 = 7
=======================
1*8 = 8
=======================
1*9 = 9
=======================
1*10 = 10
=======================
2*1 = 2
=======================
2*2 = 4
=======================
2*3 = 6
=======================
2*4 = 8
=======================
2*5 = 10
=======================
2*6 = 12
=======================
2*7 = 14
=======================
2*8 = 16
=======================
2*9 = 18
=======================
2*10 = 20
=======================
3*1 = 3
=======================
3*2 = 6
=======================
3*3 = 9
=======================
3*4 = 12
=======================
3*5 = 15
=======================
3*6 = 18
=======================
3*7 = 21
=======================
3*8 = 24
=======================
3*9 = 27
=======================
3*10 = 30
=======================
4*1 = 4
=======================
4*2 = 8
=======================
4*3 = 12
=======================
4*4 = 16
=======================
4*5 = 20
=======================
4*6 = 24
=======================
4*7 = 28
=======================
4*8 = 32
=======================
4*9 = 36
=======================
4*10 = 40
=======================
5*1 = 5
=======================
5*2 = 10
=======================
5*3 = 15
=======================
5*4 = 20
=======================
5*5 = 25
=======================
5*6 = 30
=======================
5*7 = 35
=======================
5*8 = 40
=======================
5*9 = 45
=======================
5*10 = 50
=======================
6*1 = 6
=======================
6*2 = 12
=======================
6*3 = 18
=======================
6*4 = 24
=======================
6*5 = 30
=======================
6*6 = 36
=======================
6*7 = 42
=======================
6*8 = 48
=======================
6*9 = 54
=======================
6*10 = 60
=======================
7*1 = 7
=======================
7*2 = 14
=======================
7*3 = 21
=======================
7*4 = 28
=======================
7*5 = 35
=======================
7*6 = 42
=======================
7*7 = 49
=======================
7*8 = 56
=======================
7*9 = 63
=======================
7*10 = 70
=======================
8*1 = 8
=======================
8*2 = 16
=======================
8*3 = 24
=======================
8*4 = 32
=======================
8*5 = 40
=======================
8*6 = 48
=======================
8*7 = 56
=======================
8*8 = 64
=======================
8*9 = 72
=======================
8*10 = 80
=======================
9*1 = 9
=======================
9*2 = 18
=======================
9*3 = 27
=======================
9*4 = 36
=======================
9*5 = 45
=======================
9*6 = 54
=======================
9*7 = 63
=======================
9*8 = 72
=======================
9*9 = 81
=======================
9*10 = 90
=======================

QUE :- 7. Write a program to check if a number is a palindrome?

In [ ]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
  dig =n%10  #digit
  rev=(rev*10)+dig
if (temp==rev):
  print("The number is a palindrome")
else:
        print("The number is not a palindrome")

Enter number:232

QUE :- 8. Calculate the sum of the digits of a number?

In [2]:
number= int(input("Please enter any number:"))
sum=0

while(number>0):
  remainder = number%10
  sum = sum+remainder
  number= number//10

print("\n sum of the digits of given number= %d"%sum)

Please enter any number:4568

 sum of the digits of given number= 23

QUE :- 9. Find the whether a number is an Armstrong number?

In [3]:
n=int(input("enter the number:"))
num=n
s=0
while n>0:
  r =n%10
  s =s+r*r*r
  n=n//10
if s==num:
  print(num, "is armstrong")
else:
  print(num, "is not armstrong")

enter the number:407
407 is armstrong

QUE :- 10. Write a program to count the number of digits in a given number?

In [11]:
num= 78956
count =0

while num >0:
  num//=10
  count +=1
print("Number of digits:" + str(count))

Number of digits:5