#stars Pattern
QUE :- 1. Print a right angled triangle of stars?

In [ ]:
size = 5
for i in range (size):
  for j in range (1, size-i):
    print("", end="")
  for k in range (0,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

QUE :- 2. Print an inverted right angled triangle of stars?

In [ ]:
i = 5
while i>= 0:
  print(i*"*")
  i=i-1

*****
****
***
**
*

QUE :- 3. Print a pyramid of stars?

In [ ]:
numof_rows =int(input("::Enter no of rows::"))
for i in range (0,numof_rows):
  for j in range(0, numof_rows-i-1):
    print("", end="")
  for j in range (0, i+1):
    print("*", end="")
  print("")

::Enter no of rows::6
*
**
***
****
*****
******

QUE :- 4. Create a diamond-shaped star pattern?

In [ ]:
for i in range(1,5):
  for j in range (4-i):
    print(end="  ")
  for j in range(1,i*2):
    print("*",end="  ")
  print()
for i in range (3,0,-1):
  for j in range(4-i):
    print(end="  ")
  for j in range(1,i*2):
    print("*",end="  ")
  print()

      *
    *  *  *
  *  *  *  *  *
*  *  *  *  *  *  *
  *  *  *  *  *
    *  *  *
      *

QUE :- 5. Print a square of stars?

In [ ]:
n =5

for i in range(n):

  for j in range(n):

    print("*", end=" ")

  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

QUE :- 6. Create a hollow square stae pattern

In [ ]:
n= int(input("Enter the value:"))
for i in range (n):
  for j in range(n):
    if i==0 or i==(n-1) or j==0 or j==(n-1):
      print("*",end="  ")
    else:
      print(" ",end="  ")
  print()

Enter the value:5
*  *  *  *  *
*           *
*           *
*           *
*  *  *  *  *

QUE :- 7. Print a right angled triangle using number instead of stars?

In [9]:
n=5
for i in range(n):
  p =1
  for j in range(i+1):
    print(p , end=' ')
    p+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

QUE :- 8. Create a program to print Pascal's triangle?

In [11]:
def pascal_triangle (n):
  for i in range(1, n+1):
    for k in range (n-i,0,-1):
      print(end=" ")
    C=1
    for j in range(1, i+1):
      print(C,end="  ")
      C= int(C*(i-j)/j)
    print("")
pascal_triangle(5)

    1
   1  1
  1  2  1
 1  3  3  1
1  4  6  4  1

QUE :-9. Write a program to print a mirroed right-angled triangle?

In [18]:
r=int(input("Enter the number of rows:"))
k= r-1
for i in range(1, r+1):
  print(" "*(k),"*"*i,end="")
  k=k-1
  print()

Enter the number of rows:6
      *
     **
    ***
   ****
  *****
 ******

QUE :-10. Print a stars pattern that resembles a butterfly?

In [26]:
a =1
b= 7
for i in range(1,6):
  for j in range(0,i):
    print("*", end="")
  for k in range(a,9):
    print("", end=" ")
  for l in range(0,i):
    print("*",end=" ")
  a =a+2
  print()
for m in range(1,5):
  for n in range(m,5):
    print("*", end="")
  for o in range(b,9):
    print(" ", end=" ")
  for p in range(m,5):
    print("*", end=" ")
  b= b-2
  print()

*        *
**      * *
***    * * *
****  * * * *
****** * * * *
****    * * * *
***        * * *
**            * *
*                *