#ADVANCED PATTERN
QUE :- 1. Print a hollow pyramid of stars?

In [2]:
n = 6
for i in range(n):
  print(" "*(n-i), end= " ")
  for j in range(i):
    if i==0 or i==n-1 or j==0 or j==i-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

      *
     * *
    *   *
   *     *
  * * * * *

QUE :- 2. Create a checkerboard pattern of * and spaces?

In [5]:
rows = int(input("Enter the size of the checkerboard:"))
for i in range(rows):
  for j in range(rows):
    if (i+j)%2==0:
      print("X",end=" ")
    else:
      print("O",end=" ")
  print()

Enter the size of the checkerboard:6
X O X O X O
O X O X O X
X O X O X O
O X O X O X
X O X O X O
O X O X O X

QUE :- 3. Write a program to print a spiral matrix pattern?

In [7]:
n= 4
for x in range(1-n,n):
  for y in range(1-n,n):
    if abs(x)>abs(y):
      print("{:2d}".format(abs(x)+1,end=" "))
    else:
      print("{:2d}".format(abs(y)+1,end=" "))
  print()

 4
 4
 4
 4
 4
 4
 4

 4
 3
 3
 3
 3
 3
 4

 4
 3
 2
 2
 2
 3
 4

 4
 3
 2
 1
 2
 3
 4

 4
 3
 2
 2
 2
 3
 4

 4
 3
 3
 3
 3
 3
 4

 4
 4
 4
 4
 4
 4
 4

QUE :- 4. Create a zigzag star pattern?

In [11]:
n= int(input())
for i in range(1,4):
  for j in range(1, n+1):
    if(((i+j)% 4 ==0) or (i==2) and (j % 4 ==0)):
      print("*", end =' ')
    else:
      print(" ", end=' ')
  print()

5
    *
  *   *
*       *

QUE :- 5. Write a program to print a binary triangle pattern?

In [16]:
N= int(input("Enter the Number:"))
for I in range(1,N+1):
  for J in range(1,I+1):
    print(I%2,end=" ")
  print()

Enter the Number:10
1
0 0
1 1 1
0 0 0 0
1 1 1 1 1
0 0 0 0 0 0
1 1 1 1 1 1 1
0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 0

QUE :- 6. Print a diamond of numbers?

In [25]:
noof_rows = int(input("::Enter noof rows::"))
for i in range(noof_rows):
  for j in range(noof_rows):
    print(" ", end="")
  for j in range(2*i+1):
    print(j+1,end="")
  print()

::Enter noof rows::5
     1
     123
     12345
     1234567
     123456789

QUE :- 7. Create a program to print an hourglass pattern?

In [29]:
n = int(input("Enter N value"))
for i in  range(n,0,-1):
  print("  "*(n-i),(2*i-1)*"*  ")
for i in range(2, n+1):
  print("  "*(n-i),(2*i-1)*"*   ")

Enter N value5
 *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *
     *  *  *  *  *
       *  *  *
         *
       *   *   *
     *   *   *   *   *
   *   *   *   *   *   *   *
 *   *   *   *   *   *   *   *   *

QUE :- 8. Write a pattern that alternates between * and numbers?

In [30]:
row = 5
for i in range(0,rows):
  num=1
  print(num,end=" ")
  for j in range(row-i -1,0,-1):
    print("*",end="  ")
    num=num+1
    print(num,end=" ")
  print()

1 *  2 *  3 *  4 *  5
1 *  2 *  3 *  4
1 *  2 *  3
1 *  2
1
1

QUE :- 9. Print the Floyd's triangle pattern of numbers?

In [33]:
n = int(input('num of rows:'))
num = 1
print("Floyd's Triangle\n")
for i in range(1, n+1):
  for j in range(1,i+1):
    print(num,end ='')
    num+=1
  print()

num of rows:5
Floyd's Triangle

1
23
456
78910
1112131415

QUE :- 10. Create a pattern that forms a square with alternating 1s and 0s?

In [34]:
n = 5
for i in range(n):
  for j in range(n):
    print('* ', end=' ')
  print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *