#LISTS
QUE :- 1. Create a list of numbers and find their sum?

In [1]:
num= [1,2,3,4,5]
sum_of_num = sum(num)
print(sum_of_num)

15

QUE :- 2. Write a program to find the largest number in a list?

In [8]:
number = [0,2,3,6,5,7,98,45,6700,9218,9,1]
largest_number = number[0]
for i in range(len(numbers)):
  if number[i] > largest_number:
    largest_number = number[i]
print(f"The largest number in the list is 9218")

The largest number in the list is 9218

QUE :- 3. Find the second largest number in a list?

In [12]:
my_list =[6,8,3,210,30,40,70]
my_list.sort()

print(f"second largest element-{my_list[2]}")

second largest element-8

QUE :- 4. Remove duplicates from a list?

In [13]:
a =[10,20,50,70,50,60,90,50,30,50,20,50,10,90]
dup_items = set()
uniq_items =[]
for x in a:
  if x not in dup_items:
    uniq_items.append(x)
    dup_items.add(x)
print(dup_items)

{70, 10, 50, 20, 90, 60, 30}

QUE :- 5. Write a program to count the occurences of a specific element in a list?

In [15]:
list1 = [23,13,78,45,13,67,13,56]
count = dict()

for i in list1:
  if i in count:
    count[i]+=1
  else:
    count[i]=1

print(count)

{23: 1, 13: 3, 78: 1, 45: 1, 67: 1, 56: 1}

QUE :- 6. Sort a list without using the built-in sort()method?

In [16]:
a =[1,2,4,5,7]
print("Original List:", a)
for i in range (0,len(a)):
  for j in range(i, len(a)):
    if a[i] >= a[j]:
      temp = a[i]
      a[i] = a[j]
      a[j] = temp
print("Sorted List:", a)

Original List: [1, 2, 4, 5, 7]
Sorted List: [1, 2, 4, 5, 7]

QUE :- 7. Reverse a list without using the built-in reverse() method?

In [21]:

l=list(map(int, input().split()))
for i in l[:: -1]:
  print(i, end="  ")

56  78  34  12  98
98  12  34  78  56

QUE :- 8. Create a program to merge two list and sort them?

In [22]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

QUE :- 9. Find the intersection of two lists?

In [28]:
a = eval(input('List 1:'))
b = eval(input('List 2:'))
c =[]

for i in a:
  for j in b:
    if i==j:
      c.append(i)
print('COMMON ELELMENTS:')
print(c)

List 1:[1,2,3,4,5]
List 2:[5,6,7,8,9]
COMMON ELELMENTS:
[5]

QUE :- 10. Check if a list is a palindrome?

In [29]:
def palindrome(list):
  return list == list[: : -1]


nums = [1,2,3,4,5,5,8,9]
print("Original list is :", list)
print("Check that it is palindrome or not?")
print(palindrome(nums))

color = ["Red", "Orange","Green"]
print("Original list is :", color)
print("Check that it is palindrome or not?")
print(palindrome(color))

Original list is : <class 'list'>
Check that it is palindrome or not?
False
Original list is : ['Red', 'Orange', 'Green']
Check that it is palindrome or not?
False